body{
    background-color: aqua;
}
.input-box{
    background-color: rgb(102, 109, 107);
}
#login-box{
    background-color: rgb(163, 233, 233);
}
.input-box{
    background-color: rgb(163, 233, 233);
}
/* #login-box{
    margin-right: auto;
  margin-left: auto;
  padding: 30%;
} */